.leaderboard-container {
    margin-top: 10px;
    margin-inline: 10%;
    position: relative;
}
.buttons-container {
    position: absolute;
    right: 0;
}
@media only screen and (max-width: 800px) {
    .maybe {
        display: none;
    }
  }
