.leaderboard-container, .rules-container, .player-profiles-container {
    margin-top: 20px;
    margin-inline: 10%;
    position: relative;
}
.leaderboard-container {
    margin-top:65px;
    margin-bottom: 80px;
}
.buttons-container {
    position: absolute;
    right: 0;
}
.rules-container, .player-profiles-container {
    padding: 30px;
    border-radius: 20px;
}
.profile {
    background: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    margin-bottom: 10px;
}
.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image {
    width: 122px;
    height: 122px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-text-container {
    display: flex;
    align-items: center;
}
.little-text {
    display: flex;
    justify-content: center;
    color: gray;
}
.maybe {
    display: none;
}
h5 {
    margin-top: 5px;
}
.section-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Responsive full browser display */
@media only screen and (min-width: 800px) {
    /* Show additional table cells */
    .maybe {
        display: table-cell;
    }
    /* Ensure content doesn't get to wide on large monitors */
    .leaderboard-container, .rules-container, .player-profiles-container {
        max-width: 800px;
        margin-inline: auto;
    }
    .profile {
        display: flex;
    }
  }
